= simple_form_for @beer do |f|
  - if @beer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@beer.errors.count, "error")} prohibited this beer from being saved:"
      %ul
        - @beer.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name
    .controls
      = f.text_field :name
  .control-group
    = f.label :description
    .controls
      = f.text_area :description
  .control-group
    .controls
      = f.button :submit, 'Save', class: 'btn btn-primary'
