%header
  %h1 Listing beers

%table.table.table-bordered
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th
  %tbody
    - @beers.each do |beer|
      %tr
        %td= beer.name
        %td= beer.description
        %td= link_to 'Show', beer
        %td= link_to 'Edit', edit_beer_path(beer)
        %td= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Beer', new_beer_path
